In [9]:
import pandas as pd
chicken = pd.read_csv("../resources/rawdata/서울특별시 강남구 일반음식점 인허가 정보.csv", encoding='cp949')
chicken

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,공장판매직종업원수,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,3220000,3220000-101-1916-11913,19160623,NaN,3,폐업,2,폐업,19970131.0,NaN,...,NaN,NaN,NaN,NaN,NaN,N,29.82,NaN,NaN,NaN
1,3220000,3220000-101-1975-06307,19750313,NaN,3,폐업,2,폐업,19970109.0,NaN,...,NaN,NaN,NaN,NaN,NaN,N,29.88,NaN,NaN,NaN
2,3220000,3220000-101-1977-06772,19770616,NaN,3,폐업,2,폐업,19970320.0,NaN,...,NaN,NaN,NaN,NaN,NaN,N,32.78,NaN,NaN,NaN
3,3220000,3220000-101-1977-16612,19770617,NaN,3,폐업,2,폐업,20210805.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3220000,3220000-101-1980-06677,19800104,NaN,3,폐업,2,폐업,19980323.0,NaN,...,NaN,NaN,NaN,NaN,NaN,N,15.60,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932,3220000,3220000-101-2021-01160,20210928,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
933,3220000,3220000-101-2021-01278,20211026,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
934,3220000,3220000-101-2021-01381,20211118,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
935,3220000,3220000-101-2021-01527,20211217,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
936,3220000,3220000-101-2022-00152,20220214,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
chicken_2019 = chicken[(chicken['인허가일자']<20190131)]
chicken_2019_compete = chicken_2019[(chicken_2019['폐업일자']>20190301) | chicken_2019['폐업일자'].isna()]

In [47]:
chicken_2019_compete.columns

Index(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소', '도로명주소', '도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)', '위생업태명', '남성종사자수', '여성종사자수',
       '영업장주변구분명', '등급구분명', '급수시설구분명', '총인원', '본사종업원수', '공장사무직종업원수',
       '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액', '월세액', '다중이용업소여부', '시설총규모',
       '전통업소지정번호', '전통업소주된음식', '홈페이지'],
      dtype='object')

In [48]:
chicken_2019_compete[['인허가일자','인허가취소일자','영업상태명','폐업일자','사업장명','지번주소','도로명주소','좌표정보(X)', '좌표정보(Y)']].to_csv('../resources/extractedData/chicken_competitors.csv', index=False)