In [1]:
import pandas as pd


#엑셀 파일을 csv 파일로 변환
ex = pd.read_excel('../rawdata/매장데이터_수정.xls')
ex.to_csv("../rawdata/매장데이터_수정.csv", index = False)

data = pd.read_csv('../rawdata/매장데이터_수정.csv', encoding='UTF8')

In [3]:
from collections import Counter

#본사코드 별 등장 횟수 카운트
column_CD = data['본사코드']
counter = Counter(column_CD)

counter

Counter({'H132': 7,
         'H154': 2,
         'H156': 1,
         '0000': 1701,
         'H234': 1,
         'H523': 1,
         'H484': 4,
         'H399': 2,
         'H255': 1,
         'H257': 1,
         'H591': 1,
         'H634': 1,
         'HABW': 1,
         'HADV': 1,
         'HAET': 2,
         'H579': 1,
         'HASB': 1,
         'HAUE': 1,
         'HBAS': 34,
         'HBGJ': 1,
         'HBCF': 6,
         'HBJT': 1,
         'HBIG': 1,
         'HBQL': 1,
         'HBTX': 1,
         'HBOV': 1,
         'HBYT': 1,
         'HBTK': 4,
         'HCGM': 1,
         'HCBW': 2,
         'HCHI': 1,
         'HBZG': 1,
         'HCHV': 4,
         'HCJH': 1,
         'HCLK': 1,
         'H798': 1,
         'HCPX': 1,
         'HCSX': 3,
         'HABF': 1,
         'HBHI': 2,
         'HCEL': 1,
         'HCCZ': 1,
         'HCQW': 1,
         'HBMA': 4,
         'HDHN': 1,
         'HDKC': 1,
         'HDMN': 1,
         'HBJW': 2,
         'HCRG': 1,
         'HAFO': 2,
         'H131': 3,
         'HDKN': 6,
         'HDPV': 1,
         'HDLD': 2,
         'HDBN': 1,
         'HDSF': 18,
         'HDWB': 1,
         'HDWI': 1,
         'HEBN': 3,
         'HDST': 1,
         'HDIF': 2,
         'H921': 1,
         'HDMO': 1,
         'HCYO': 1,
         'HCPF': 1,
         'HEGF': 2,
         'HEGN': 1,
         'HCFZ': 1,
         'HEHI': 1,
         'HDNS': 1,
         'HCTJ': 1,
         'HCBS': 1,
         'HCJS': 1,
         'HEJP': 5,
         'HELQ': 1,
         'HDRK': 6,
         'HESD': 1,
         'HESH': 1,
         'HEZD': 2,
         'HFBB': 1,
         'HEYO': 1,
         'HFDJ': 3,
         'HFDN': 2,
         'HAPR': 1,
         'HEQJ': 1,
         'HFHF': 1,
         'HBLX': 1,
         'HFKQ': 1,
         'HFMQ': 1,
         'HEUE': 5,
         'HFPD': 2,
         'HEQH': 1,
         'HFPR': 6,
         'HETM': 1,
         'HABS': 1,
         'HFRY': 2,
         'HFQT': 1,
         'HDFK': 1,
         'HCWD': 1,
         'HFXB': 1,
         'HFWY': 2,
         'HFXW': 1,
         'HFVT': 1,
         'HFRJ': 1,
         'HFZH': 1,
         'HFZO': 1,
         'HGAG': 5,
         'HFTO': 1,
         'HDOJ': 1,
         'HFWF': 5,
         'HGDA': 1,
         'HFTS': 1,
         'HEFA': 10,
         'HGFN': 1,
         'HGFR': 2,
         'HGFQ': 2,
         'HGCK': 1,
         'HGGA': 2,
         'HGEI': 1,
         'HGEU': 1,
         'HGHQ': 4,
         'HGBE': 1,
         'HGIJ': 1,
         'HGIW': 1,
         'HGJO': 1,
         'HGNO': 1,
         'HGOI': 2,
         'HGOU': 1,
         'HGPY': 1,
         'HGGP': 1,
         'HGSL': 2,
         'HGAS': 1,
         'HGWE': 7,
         'HEPZ': 1,
         'HCZU': 1,
         'HGUQ': 6,
         'HGZI': 1,
         'HGVV': 1,
         'HHAE': 1,
         'HHAM': 2,
         'HGVT': 10,
         'HERJ': 1,
         'HCKO': 1,
         'HHBK': 1,
         'HHBL': 1,
         'HHER': 1,
         'HFZL': 1,
         'HESI': 6,
         'HHFY': 2,
         'HEVR': 1,
         'HHGP': 1,
         'HHGS': 1,
         'HHLT': 1,
         'HFUN': 2,
         'HHAQ': 2,
         'HHNN': 5,
         'HGBQ': 1,
         'HHQV': 2,
         'HECM': 1,
         'HHSO': 1,
         'HHSW': 2,
         'HGPT': 1,
         'HHUF': 1,
         'HEJA': 1,
         'HHTW': 3,
         'HHVM': 1,
         'HHWQ': 3,
         'HHWR': 1,
         'HGHU': 1,
         'HHVO': 7,
         'HCFX': 1,
         'HHOV': 3,
         'HIBH': 2,
         'HHEI': 1,
         'HIDU': 1,
         'HFYV': 1,
         'HHDY': 1,
         'HIEV': 4,
         'HIDL': 1,
         'HBRP': 1,
         'HIHD': 1,
         'HHWU': 2,
         'HHXB': 1,
         'HIAB': 4,
         'HGMS': 2,
         'HIOK': 2,
         'HIOT': 1,
         'HDPN': 1,
         'HIQC': 2,
         'HITA': 1,
         'HGFL': 1,
         'HGLZ': 1,
         'HIVQ': 1,
         'HHCH': 1,
         'HHVX': 1,
         'HIXT': 1,
         'HIYD': 1,
         'HIJE': 7,
         'HIXZ': 1,
         'HGAL': 1,
         'HILX': 1,
         'HIBC': 1,
         'HJBD': 2,
         'HJBE': 2,
         'HFEP': 2,
         'HIYC': 2,
         'HAHP': 1,
         'HJFG': 1,
         'HJGL': 1,
         'HJFX': 7,
         'HGOQ': 7,
         'HHTS': 1,
         'HJIM': 2,
         'HJIN': 1,
         'HJJE': 1,
         'HIMK': 1,
         'HJJO': 6,
         'HJJW': 1,
         'HJKD': 1,
         'HJIH': 1,
         'HJMF': 1,
         'HJFC': 2,
         'HJMU': 1,
         'HIZC': 3,
         'HEZL': 1,
         'HJPX': 1,
         'HDSN': 1,
         'HJRY': 2,
         'HERR': 1,
         'HJNT': 1,
         'HJSQ': 4,
         'HJRE': 2,
         'HHXQ': 1,
         'HJXH': 1,
         'HIYQ': 3,
         'HGDT': 2,
         'HFOV': 1,
         'HJQI': 1,
         'HIFS': 1,
         'HJYN': 1,
         'HFHA': 2,
         'HHNH': 2,
         'HGGO': 1,
         'HJZE': 2,
         'HKBP': 1,
         'HKCK': 1,
         'HJPO': 1,
         'HKDC': 1,
         'HJFR': 1,
         'HKGR': 4,
         'HKHZ': 1,
         'HJBP': 1,
         'HKIQ': 1,
         'HJQE': 1,
         'HKJQ': 1,
         'H222': 2,
         'HHRE': 1,
         'HKKH': 2,
         'HKLM': 1,
         'HKMN': 1,
         'HHZJ': 1,
         'HIIX': 4,
         'HEWC': 1,
         'HIGH': 3,
         'HKPO': 1,
         'HKQR': 2,
         'HEYW': 1,
         'HKCP': 1,
         'HJPA': 1,
         'HKSE': 1,
         'HKTS': 1,
         'HKLI': 3,
         'HIFX': 1,
         'HKWQ': 1,
         'HKJG': 1,
         'HKXB': 1,
         'HKSU': 1,
         'HIWI': 1,
         'HKFZ': 1,
         'HJTS': 2,
         'HKYS': 1,
         'HKZK': 1,
         'HKZL': 1,
         'HKRU': 1,
         'HKGL': 1,
         'HLAG': 1,
         'HLAK': 1,
         'HAIQ': 1,
         'HEAC': 1,
         'HIGO': 1,
         'HLCQ': 1,
         'HLDL': 2,
         'HLEG': 1,
         'HGFP': 1,
         'HKQQ': 1,
         'HLCO': 3,
         'HLGP': 1,
         'H836': 1,
         'HHQL': 1,
         'HLHM': 1,
         'HLIF': 2,
         'HLIN': 1,
         'HLGZ': 1,
         'HLKE': 1,
         'HAAD': 1,
         'HLHS': 1,
         'HLMI': 2,
         'HKHS': 1,
         'HGZG': 1,
         'HDVU': 2,
         'HLMU': 1,
         'HLJQ': 1,
         'HKKQ': 2,
         'HLRE': 1,
         'HLNI': 1,
         'HLRV': 1,
         'HCYK': 1,
         'HJIP': 1,
         'HLPA': 2,
         'HLTF': 2,
         'HLTY': 1,
         'HLVP': 1,
         'HLSX': 1,
         'HKMM': 1,
         'HJKG': 1,
         'HLXE': 1,
         'HIDK': 1,
         'HHQG': 1,
         'HLKF': 2,
         'HLYX': 1,
         'HLUT': 1,
         'HFOM': 1,
         'HMAI': 1,
         'HHHN': 1,
         'HKZM': 1,
         'HKAO': 1,
         'HGSE': 1,
         'HMCE': 1,
         'HJJT': 1,
         'HMBA': 1,
         'HIXE': 1,
         'HLZL': 1,
         'HMEP': 1,
         'HEII': 1,
         'HDAU': 1,
         'HMFI': 1,
         'HKJY': 1,
         'HKBH': 1,
         'HMFU': 2,
         'HDUJ': 1,
         'HHQX': 1,
         'HMIJ': 3,
         'HIQG': 6,
         'HMKC': 1,
         'HGXZ': 1,
         'HMKP': 1,
         'HMKN': 2,
         'HMMP': 1,
         'HLPW': 1,
         'HMMW': 1,
         'HKBS': 1,
         'HMOK': 1,
         'HCYB': 1,
         'HMPK': 2,
         'HMPG': 2,
         'HMPW': 1,
         'HMPZ': 1,
         'HMIE': 1,
         'HMQL': 1,
         'HFWB': 1,
         'HBNR': 3,
         'HMOJ': 2,
         'HDWM': 1,
         'HMIH': 5,
         'HMRZ': 1,
         'HMSD': 2,
         'HLCY': 1,
         'HMRV': 2,
         'HMTC': 2,
         'HMRX': 1,
         'HJRK': 1,
         'HMTT': 1,
         'HMUG': 1,
         'HMVK': 3,
         'HLQI': 1,
         'HMVO': 1,
         'HMWH': 2,
         'HLFF': 1,
         'HMZD': 1,
         'HMXZ': 1,
         'HMQV': 1,
         'HNAD': 1,
         'HMNM': 1,
         'HNBB': 2,
         'HMHJ': 1,
         'HLCD': 1,
         'HNBS': 2,
         'HNCQ': 1,
         'HEPH': 1,
         'HNDF': 1,
         'HNDL': 2,
         'HLBF': 1,
         'HNDR': 1,
         'HNDQ': 1,
         'HNEC': 1,
         'HNDZ': 1,
         'HNEF': 3,
         'HMFG': 1,
         'HNEO': 1,
         'HLLT': 1,
         'HHSP': 1,
         'HFQK': 1,
         'HMML': 1,
         'HMLF': 1})

In [4]:
del counter['0000']     #'0000'의 경우, 프랜차이즈가 아님을 뜻하므로 삭제

#본사코드 중 등장 횟수가 5 이상인 것만 cd5에 저장
cd5 = dict()
for key in counter.keys() :     
        if counter[key] >= 5 : cd5[key] = counter[key]

cd5

{'H132': 7,
 'HBAS': 34,
 'HBCF': 6,
 'HDKN': 6,
 'HDSF': 18,
 'HEJP': 5,
 'HDRK': 6,
 'HEUE': 5,
 'HFPR': 6,
 'HGAG': 5,
 'HFWF': 5,
 'HEFA': 10,
 'HGWE': 7,
 'HGUQ': 6,
 'HGVT': 10,
 'HESI': 6,
 'HHNN': 5,
 'HHVO': 7,
 'HIJE': 7,
 'HJFX': 7,
 'HGOQ': 7,
 'HJJO': 6,
 'HIQG': 6,
 'HMIH': 5}

In [5]:
len(data[data['본사코드']=="HBAS"]) #기존데이터에서 본사코드가 HBAS(깐부치킨)의 등장 횟수 체크

34

In [10]:
data_full = pd.read_csv('../rawdata/거래데이터_full.csv', encoding='UTF8')

C:\Users\mool8\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
data_full

,매장코드,매장명,영업일자,영수증번호,결제일시,테이블번호,총판매금액,소분류명,상품명,상품코드,판매수량,판매단가
0,T57457,라공방,20190203,238,20190203211944,포장,14000,메뉴,꿔바러우(소),28,1,14000
1,T57457,라공방,20190203,190,20190203185755,포장,14000,메뉴,꿔바러우(소),28,1,14000
2,T57457,라공방,20190203,186,20190203184828,포장,14000,메뉴,꿔바러우(소),28,1,14000
3,T57457,라공방,20190203,184,20190203183953,포장,14000,메뉴,꿔바러우(소),28,1,14000
4,T57457,라공방,20190203,165,20190203175304,포장,14000,메뉴,꿔바러우(소),28,1,14000
...,...,...,...,...,...,...,...,...,...,...,...,...
5884243,U02589,(주)트레이드빌리지 강남1지점,20190227,43,20190227132202,NaN,15900,B,실버반지,900016,1,15900
5884244,U02589,(주)트레이드빌리지 강남1지점,20190226,148,20190226202432,NaN,31800,B,실버반지,900016,2,15900
5884245,U02589,(주)트레이드빌리지 강남1지점,20190226,141,20190226195845,NaN,15900,B,실버반지,900016,1,15900
5884246,U02589,(주)트레이드빌리지 강남1지점,20190226,44,20190226134120,NaN,15900,B,실버반지,900016,1,15900
5884247,U02589,(주)트레이드빌리지 강남1지점,20190226,43,20190226134059,NaN,15900,B,실버반지,900016,1,15900

In [13]:
CD = list(data[data['본사코드']=="HBAS"]['매장코드'])   #깐부치킨 매장의 매장코드 추출

In [14]:
df = pd.DataFrame(data_full[data_full['매장코드']==CD[0]])  #매장코드 중 첫 번째인 것의 데이터만 추출해 데이터프레임 생성

#매장코드 중 첫 번째를 제외한 나머지를 이전에 생성한 데이터프레임에 추가
for cd in CD[1:] : df = df.append(data_full[data_full['매장코드']==cd])

df

,매장코드,매장명,영업일자,영수증번호,결제일시,테이블번호,총판매금액,소분류명,상품명,상품코드,판매수량,판매단가
18192,S23991,깐부치킨(강남구청역1번출구점),20190202,6,20190202190027,포장1,2000,SIDE MENU,코울슬러,48,1,2000
18193,S23991,깐부치킨(강남구청역1번출구점),20190204,14,20190204201731,포장1,19000,SIDE MENU,골뱅이,8,1,19000
18194,S23991,깐부치킨(강남구청역1번출구점),20190201,2,20190201175536,포장1,19000,SIDE MENU,골뱅이,8,1,19000
18195,S23991,깐부치킨(강남구청역1번출구점),20190201,7,20190201192707,포장1,11000,SIDE MENU,웨지포테이토,12,1,11000
18196,S23991,깐부치킨(강남구청역1번출구점),20190203,1,20190203174823,포장1,19000,MAIN MENU,마늘간장,3496,1,19000
...,...,...,...,...,...,...,...,...,...,...,...,...
5580916,U11422,깐부치킨(청담1),20190228,10,20190228125113,10,18000,MAIN MENU,바삭한식스팩,001297,1,18000
5580917,U11422,깐부치킨(청담1),20190228,10,20190228125113,10,18000,MAIN MENU,불사조,002737,1,18000
5580918,U11422,깐부치킨(청담1),20190228,10,20190228125113,10,13500,깐부 청담1,청양고추만두,004086,3,4500
5580919,U11422,깐부치킨(청담1),20190228,14,20190228131736,10,8000,깐부 청담1,소고기볶음밥,004072,1,8000
5580920,U11422,깐부치킨(청담1),20190228,10,20190228125113,10,8000,깐부 청담1,오렌지치즈샐러드,004085,1,8000

In [17]:
df.to_csv('../processedData/깐부치킨_거래데이터.csv', index=False)    #csv로 저장

In [18]:
test = pd.read_csv('../processedData/깐부치킨_거래데이터.csv', encoding='UTF8')   #테스트
test

,매장코드,매장명,영업일자,영수증번호,결제일시,테이블번호,총판매금액,소분류명,상품명,상품코드,판매수량,판매단가
0,S23991,깐부치킨(강남구청역1번출구점),20190202,6,20190202190027,포장1,2000,SIDE MENU,코울슬러,48,1,2000
1,S23991,깐부치킨(강남구청역1번출구점),20190204,14,20190204201731,포장1,19000,SIDE MENU,골뱅이,8,1,19000
2,S23991,깐부치킨(강남구청역1번출구점),20190201,2,20190201175536,포장1,19000,SIDE MENU,골뱅이,8,1,19000
3,S23991,깐부치킨(강남구청역1번출구점),20190201,7,20190201192707,포장1,11000,SIDE MENU,웨지포테이토,12,1,11000
4,S23991,깐부치킨(강남구청역1번출구점),20190203,1,20190203174823,포장1,19000,MAIN MENU,마늘간장,3496,1,19000
...,...,...,...,...,...,...,...,...,...,...,...,...
83912,U11422,깐부치킨(청담1),20190228,10,20190228125113,10,18000,MAIN MENU,바삭한식스팩,1297,1,18000
83913,U11422,깐부치킨(청담1),20190228,10,20190228125113,10,18000,MAIN MENU,불사조,2737,1,18000
83914,U11422,깐부치킨(청담1),20190228,10,20190228125113,10,13500,깐부 청담1,청양고추만두,4086,3,4500
83915,U11422,깐부치킨(청담1),20190228,14,20190228131736,10,8000,깐부 청담1,소고기볶음밥,4072,1,8000
83916,U11422,깐부치킨(청담1),20190228,10,20190228125113,10,8000,깐부 청담1,오렌지치즈샐러드,4085,1,8000