### 매머드커피 주중/주말 매핑 코드 
* 주중 0, 주말 1

In [2]:
## Import modules & Load Dataset
import pandas as pd
mamm = pd.read_csv("../../../resources/extractedData/매머드_거래데이터.csv", encoding="utf8")

In [3]:
mamm

,매장코드,매장명,영업일자,영수증번호,결제일시,테이블번호,총판매금액,소분류명,상품명,상품코드,판매수량,판매단가
0,S53661,MMTH 역삼점,20190201,33,20190201122847,NaN,4300,espresso,헤이즐넛모카(ice),805,1,4300
1,S53661,MMTH 역삼점,20190201,35,20190201123850,NaN,4000,espresso,꿀바나라떼(ice),532,1,4000
2,S53661,MMTH 역삼점,20190201,25,20190201101708,NaN,3400,espresso,꿀라떼(hot),297,1,3400
3,S53661,MMTH 역삼점,20190201,35,20190201123850,NaN,6800,espresso,카페라떼(ice),21,2,3400
4,S53661,MMTH 역삼점,20190201,11,20190201085522,NaN,3400,espresso,카페라떼(ice),21,1,3400
...,...,...,...,...,...,...,...,...,...,...,...,...
70781,T64222,MMTH 역삼GFC점,20190226,172,20190226155656,NaN,0,행사,GFC)식권대장100%할인,957,1,0
70782,T64222,MMTH 역삼GFC점,20190226,138,20190226132017,NaN,0,행사,GFC)식권대장100%할인,957,1,0
70783,T64222,MMTH 역삼GFC점,20190226,127,20190226130011,NaN,0,행사,GFC)식권대장100%할인,957,1,0
70784,T64222,MMTH 역삼GFC점,20190226,55,20190226100837,NaN,0,행사,GFC)식권대장100%할인,957,1,0
70785,T64222,MMTH 역삼GFC점,20190226,44,20190226094243,NaN,0,행사,GFC)식권대장100%할인,957,1,0

In [4]:
# 각 지점이 영업일자가 다 동일한지 확인
mamm_code = list(mamm["매장코드"].unique())
for code in mamm_code:
    print("매장명: ",mamm[mamm["매장코드"]==code]["매장명"].values[0],
          ", 영업일자: ",sorted(mamm[mamm["매장코드"]==code]["영업일자"].unique()),", 갯수: ",mamm[mamm["매장코드"]==code]["영업일자"].nunique())

매장명:  MMTH 역삼점 , 영업일자:  [20190201, 20190207, 20190208, 20190211, 20190212, 20190213, 20190214, 20190215, 20190218, 20190219, 20190220, 20190221, 20190222, 20190225, 20190226, 20190227, 20190228] , 갯수:  17
매장명:  MMTH 강남1호 , 영업일자:  [20190201, 20190202, 20190204, 20190207, 20190208, 20190209, 20190211, 20190212, 20190213, 20190214, 20190215, 20190216, 20190218, 20190219, 20190220, 20190221, 20190222, 20190223, 20190225, 20190226, 20190227, 20190228] , 갯수:  22
매장명:  MMTH 청담 , 영업일자:  [20190201, 20190202, 20190203, 20190204, 20190206, 20190207, 20190208, 20190209, 20190210, 20190211, 20190212, 20190213, 20190214, 20190215, 20190216, 20190217, 20190218, 20190219, 20190220, 20190221, 20190222, 20190223, 20190224, 20190225, 20190226, 20190227, 20190228] , 갯수:  27
매장명:  MMTH 코엑스 , 영업일자:  [20190201, 20190202, 20190207, 20190208, 20190209, 20190211, 20190212, 20190213, 20190214, 20190215, 20190216, 20190218, 20190219, 20190220, 20190221, 20190222, 20190223, 20190225, 20190226, 20190227, 20190228] , 갯수:  21
매장명:  MMTH 테헤란점 , 영업일자:  [20190201, 20190207, 20190208, 20190211, 20190212, 20190213, 20190214, 20190215, 20190218, 20190219, 20190220, 20190221, 20190222, 20190225, 20190226, 20190227, 20190228] , 갯수:  17
매장명:  MMTH 현대사옥점 , 영업일자:  [20190201, 20190207, 20190208, 20190211, 20190212, 20190213, 20190214, 20190215, 20190218, 20190219, 20190220, 20190221, 20190222, 20190225, 20190226, 20190227, 20190228] , 갯수:  17
매장명:  MMTH 강남구청 , 영업일자:  [20190201, 20190202, 20190203, 20190206, 20190207, 20190208, 20190209, 20190210, 20190211, 20190212, 20190213, 20190214, 20190215, 20190216, 20190217, 20190218, 20190219, 20190220, 20190221, 20190222, 20190223, 20190224, 20190225, 20190226, 20190227, 20190228] , 갯수:  26
매장명:  MMTH 논현점 , 영업일자:  [20190201, 20190202, 20190206, 20190207, 20190208, 20190209, 20190211, 20190212, 20190213, 20190214, 20190215, 20190216, 20190218, 20190219, 20190220, 20190221, 20190222, 20190223, 20190225, 20190226, 20190227, 20190228] , 갯수:  22
매장명:  MMTH 강남역점 , 영업일자:  [20190201, 20190202, 20190206, 20190207, 20190208, 20190209, 20190210, 20190211, 20190212, 20190213, 20190214, 20190215, 20190216, 20190217, 20190218, 20190219, 20190220, 20190221, 20190222, 20190223, 20190224, 20190225, 20190226, 20190227, 20190228] , 갯수:  25
매장명:  MMTH 선정릉점 , 영업일자:  [20190201, 20190207, 20190208, 20190211, 20190212, 20190213, 20190214, 20190215, 20190218, 20190219, 20190220, 20190221, 20190222, 20190225, 20190226, 20190227, 20190228] , 갯수:  17
매장명:  MMTH 선릉점 , 영업일자:  [20190201, 20190202, 20190203, 20190206, 20190207, 20190208, 20190209, 20190210, 20190211, 20190212, 20190213, 20190214, 20190215, 20190216, 20190217, 20190218, 20190219, 20190220, 20190221, 20190222, 20190223, 20190224, 20190225, 20190226, 20190227, 20190228] , 갯수:  26
매장명:  MMTH 신사점 , 영업일자:  [20190201, 20190202, 20190207, 20190208, 20190209, 20190211, 20190212, 20190213, 20190214, 20190215, 20190216, 20190218, 20190219, 20190220, 20190221, 20190222, 20190223, 20190225, 20190226, 20190227, 20190228] , 갯수:  21
매장명:  MMTH 삼성역점 , 영업일자:  [20190201, 20190202, 20190207, 20190208, 20190209, 20190211, 20190212, 20190213, 20190214, 20190215, 20190216, 20190218, 20190219, 20190220, 20190221, 20190222, 20190223, 20190225, 20190226, 20190227, 20190228] , 갯수:  21
매장명:  MMTH 국기원점 , 영업일자:  [20190201, 20190202, 20190204, 20190206, 20190207, 20190208, 20190209, 20190210, 20190211, 20190212, 20190213, 20190214, 20190215, 20190216, 20190217, 20190218, 20190219, 20190220, 20190221, 20190222, 20190223, 20190224, 20190225, 20190226, 20190227, 20190228] , 갯수:  26
매장명:  MMTH 역삼역점 , 영업일자:  [20190201, 20190202, 20190203, 20190206, 20190207, 20190208, 20190209, 20190210, 20190211, 20190212, 20190213, 20190214, 20190215, 20190216, 20190217, 20190218, 20190219, 20190220, 20190221, 20190222, 20190223, 20190224, 20190225, 20190226, 20190227, 20190228] , 갯수:  26
매장명:  MMTH 강남대로점 , 영업일자:  [20190201, 20190207, 20190208, 20190211, 20190212, 20190213, 20190214, 20190215, 20190218, 20190219, 20190220, 20190221, 20190222, 20190225, 20190226, 20190227, 20190228] , 갯수:  17
매장명:  MMTH 한티역점(122호) , 영업일자:  [20190201, 20190202, 20190203, 20190206, 20190207, 20190208, 20190209, 20190210, 20190211, 20190212, 20190213, 20190214, 20190215, 20190216, 20190217, 20190218, 20190219, 20190220, 20190221, 20190222, 20190223, 20190224, 20190225, 20190226, 20190227, 20190228] , 갯수:  26
매장명:  MMTH 역삼GFC점 , 영업일자:  [20190201, 20190202, 20190203, 20190204, 20190205, 20190206, 20190207, 20190208, 20190209, 20190210, 20190211, 20190212, 20190213, 20190214, 20190215, 20190216, 20190217, 20190218, 20190219, 20190220, 20190221, 20190222, 20190223, 20190224, 20190225, 20190226, 20190227, 20190228] , 갯수:  28

In [5]:
mamm["영업일자"]

0        20190201
1        20190201
2        20190201
3        20190201
4        20190201
           ...
70781    20190226
70782    20190226
70783    20190226
70784    20190226
70785    20190226
Name: 영업일자, Length: 70786, dtype: int64

In [6]:
## 주중, 주말 데이터 매핑하기
# 주중 - 0, 주말 (+[설날] 19-02-04, 19-02-05, 19-02-06) - 1

# 요일 컬럼 추가
import datetime
mamm["영업일자"] = pd.to_datetime(mamm["영업일자"], format="%Y%m%d")

# 0-월, 1-화 ... 5-토,6-일
mamm["요일"] = mamm["영업일자"].dt.weekday

# 요일 > 4 (주말) - 1, 요일 < 5 (주중) - 0
mamm["주중/주말"] = 0
mamm.loc[mamm[mamm["요일"] > 4].index,["주중/주말"]] = 1

# 설날 19-02-04, 19-02-05, 19-02-06 주말 취급
query = (mamm["영업일자"] == "2019-02-04") | (mamm["영업일자"] == "2019-02-05") | (mamm["영업일자"] == "2019-02-06")
idx = mamm[query].index
mamm.loc[idx,["주중/주말"]] = 1

# 요일 컬럼 삭제
mamm = mamm.drop(labels='요일',axis=1)

# 데이터 확인
mamm

,매장코드,매장명,영업일자,영수증번호,결제일시,테이블번호,총판매금액,소분류명,상품명,상품코드,판매수량,판매단가,주중/주말
0,S53661,MMTH 역삼점,2019-02-01,33,20190201122847,NaN,4300,espresso,헤이즐넛모카(ice),805,1,4300,0
1,S53661,MMTH 역삼점,2019-02-01,35,20190201123850,NaN,4000,espresso,꿀바나라떼(ice),532,1,4000,0
2,S53661,MMTH 역삼점,2019-02-01,25,20190201101708,NaN,3400,espresso,꿀라떼(hot),297,1,3400,0
3,S53661,MMTH 역삼점,2019-02-01,35,20190201123850,NaN,6800,espresso,카페라떼(ice),21,2,3400,0
4,S53661,MMTH 역삼점,2019-02-01,11,20190201085522,NaN,3400,espresso,카페라떼(ice),21,1,3400,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70781,T64222,MMTH 역삼GFC점,2019-02-26,172,20190226155656,NaN,0,행사,GFC)식권대장100%할인,957,1,0,0
70782,T64222,MMTH 역삼GFC점,2019-02-26,138,20190226132017,NaN,0,행사,GFC)식권대장100%할인,957,1,0,0
70783,T64222,MMTH 역삼GFC점,2019-02-26,127,20190226130011,NaN,0,행사,GFC)식권대장100%할인,957,1,0,0
70784,T64222,MMTH 역삼GFC점,2019-02-26,55,20190226100837,NaN,0,행사,GFC)식권대장100%할인,957,1,0,0
70785,T64222,MMTH 역삼GFC점,2019-02-26,44,20190226094243,NaN,0,행사,GFC)식권대장100%할인,957,1,0,0

In [7]:
from collections import Counter

# 주중/주말 별 등장 횟수 카운트
weekend_counter = Counter(mamm['주중/주말'])
weekend_counter

Counter({0: 62213, 1: 8573})

In [8]:
mamm.to_csv("../../../resources/extractedData/매머드_거래데이터_주말 추가.csv", encoding="utf8", index=False)